<h1>Listing profils</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @profils.each do |profil| %>
      <tr>
        <td><%= profil.title %></td>
        <td><%= profil.description %></td>
        <td><%= link_to 'Show', profil %></td>
        <td><%= link_to 'Edit', edit_profil_path(profil) %></td>
        <td><%= link_to 'Destroy', profil, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profil', new_profil_path %>
